html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body, html {
    height: 100%;
    color: #30486b;
    font-family: Poppins;
}

table {
    color: #30486b !important;
}

thead tr {
    background-color: #c9d1de;
    /* color: #30486b; */
}

tbody td {
    vertical-align: middle;
}

input {
    background-color: #f8f8fa !important;
}

.btn-warning {
    --bs-btn-bg: #ffe38f;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #33b4fa;
    --bs-btn-border-color: #33b4fa;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #24a0e4;
    --bs-btn-hover-border-color: #24a0e4;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #24a0e4;
    --bs-btn-active-border-color: #24a0e4;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #59acd9;
    --bs-btn-disabled-border-color: #59acd9;
}

.btn-secondary {
    --bs-btn-color: #565e64;
    --bs-btn-bg: #d4d4d4;
    --bs-btn-border-color: #d4d4d4;
    --bs-btn-hover-color: #565e64;
    --bs-btn-hover-bg: #cbcaca;
    --bs-btn-hover-border-color: #acacac;
}
