@model testMapreVisitor.ViewModel.UpdateVisitorViewModel
@{

}
<h1>Update visitor</h1>
<form method="post" action="View" class="mt-5">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Last name</label>
        <input type="text" class="form-control" asp-for="LastName">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Mail</label>
        <input type="email" class="form-control" asp-for="Mail">
        <span asp-validation-for="Mail" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Phone</label>
        <input type="text" class="form-control" asp-for="Phone">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Date visit</label>
        <input type="date" class="form-control" asp-for="DateVisit">
        <span asp-validation-for="DateVisit" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" asp-action="Edit">Submit</button>

</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml">

    }

